* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Twitter Chirp", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  margin: 0 auto;
}

.aside-esquerdo {
  width: 699px;
  padding: 10px;
  border-right: 1px solid #2f3336;
}

.logox {
  font-size: 34px;
  font-weight: bold;
}

.menu-navegacao {
  list-style-type: none;
  padding-left: 0;
}
.iten-menu {
  padding: 12px 0 12px 0;
  margin: 5px 0px;
}

.iten-menu i {
  font-size: 28px;
}

.iten-menu span {
  margin-left: 20px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 20px;
  text-overflow: clip;
}

#postar-btn {
  border: none;
  color: white;
  background-color: #1d9bf9;
  height: 3.5em;
  width: 80%;
  border-radius: 2em;
  font-weight: bolder;
}

.iten-menu i {
  font-size: 24px;
}

.aside-esquerdo-perfil {
  display: flex;
  padding: 10px 0;
  margin: 40px 0;
}

.aside-esquerdo-foto img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.aside-esquerdo-user {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 12px;
  line-height: 20px;
}

.aside-esquerdo-perfil span:nth-child(1) {
  font-weight: bold;
}

.aside-esquerdo-perfil span:nth-child(2) {
  color: dimgray;
}
