* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Twitter Chirp", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: stretch;
}

.aside-esquerdo {
  width: 320px;
  padding: 10px;
  border-right: 1px solid #2f3336;
}

.logox {
  font-size: 34px;
  font-weight: bold;
  margin-left: 15px;
}

.menu-navegacao {
  list-style-type: none;
  padding-left: 0;
}
.iten-menu {
  padding: 12px 20px;
  margin: 5px 0px;
  transition: 0.2s;
  border-radius: 50px;
  width: 100%;
  box-sizing: border-box;
  height: 3.5em;
}

.iten-menu i {
  font-size: 28px;
}

.iten-menu span {
  margin-left: 20px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 20px;
}

.iten-menu:hover {
  background-color: #181818;
}

#postar-btn {
  border: none;
  color: white;
  background-color: #1d9bf9;
  height: 3.5em;
  width: 80%;
  border-radius: 2em;
  font-weight: bolder;
}

.iten-menu i {
  font-size: 24px;
}

.aside-esquerdo-perfil {
  display: flex;
  padding: 10px 0;
  margin: 40px 0;
}

.aside-esquerdo-foto img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.aside-esquerdo-user {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 12px;
  line-height: 20px;
}

.aside-esquerdo-perfil span:nth-child(1) {
  font-weight: bold;
}

.aside-esquerdo-perfil span:nth-child(2) {
  color: dimgray;
}

.main-centro {
  max-width: 590;
  border-bottom: 1px solid #2f3336;
  border-top: 1px solid #2f3336;
  height: 100%;
}

.conteudo-central-main {
  display: flex;
}

.conteudo-central {
  width: 100%;
  margin: 15px;
}

.conteudo-cabecalho {
  margin: 0;
  display: flex;
  align-items: baseline;
}

.conteudo-foto-perfil {
  text-align: center;
  flex-grow: 0;
  width: 50px;
  margin-right: 10px;
}

.conteudo-perfil {
  flex-grow: 9;
}

.conteudo-foto-perfil img {
  object-fit: cover;
  border-radius: 50%;
  margin: 0;
  width: 40px;
  height: 40px;
}

.conteudo-arroba {
  display: flex;
  justify-content: space-between;
}

.arroba-2 {
  display: flex;

  align-self: center;
}

.conteudo-pontinhos {
  align-self: center;
  color: rgb(113 118 123);
  cursor: pointer;
}

.conteudo-cabecalho h1 {
  font-size: 15px;
  font-weight: bolder;
  margin-right: 5px;
}
.conteudo-cabecalho h2 {
  font-size: 15px;
}

.conteudo-texto p {
  width: 100%;
  font-size: 15px;
}

.conteudo-texto {
  flex-wrap: wrap;
}

.conteudo-post img {
  margin-left: -5px;
  max-width: 516px;
  max-height: 516px;
  border-radius: 15px;
  border: 1px solid #2f3336;
  margin-top: -10px;
}

.conteudo-btn {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.conteudo-btn div {
  margin-top: 13px;
  margin-left: 70px;
  color: rgb(113 118 123);
}

.conteudo-btn div:nth-child(1) {
  margin-left: 3px;
}

.conteudo-btn i {
  margin-right: 3px;
}

.aside-direito {
  width: 360px;
  border-left: 1px solid #2f3336;
  padding-left: 15px;
}

.aside-premium {
  margin: 15px 5px;
  padding: 12px 16px 12px 16px;
  border-radius: 20px;
  border: 1px solid #2f3336;
}

.aside-premium input {
  box-shadow: none;
  border-style: none;
  all: unset;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 20px;
  background-color: #1d9bf9;
}

.aside-premium h1 {
  font-weight: 700;
  font-size: 20px;
}

.aside-premium h3 {
  font-size: 15px;
}

.aside-trendings {
  display: flex;
  flex-direction: column;
  border: 1px solid #2f3336;
  border-radius: 20px;
  padding: 20px;
  margin: 15px 5px;
}

.aside-trend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.aside-trend-ponto i {
  color: rgb(113 118 123);
  cursor: pointer;
}

.aside-trend h2 {
  font-size: 16px;
  margin-bottom: 3px;
  font-weight: 700;
}

.aside-trend h3 {
  margin-bottom: 3px;
  font-size: 13px;
}

.cinza-escuro {
  color: #71767b;
}

.busca {
  border-radius: 30px;
  height: 40px;
  border-style: none;
  background-color: #202327;
  padding: 10px 50px;
  margin-top: 5px;
  width: 350px;
  font-size: 15px;
}

.busca:focus,
.busca:active {
  outline: none;
  border: 1px solid #1d9bf9;
  background-color: black;
}

.aside-direito-busca {
  display: inline-block;
  position: relative;
}

.aside-direito-lupa {
  position: absolute;
  font-size: 17px;
  top: 35%;
  left: 5%;
}

.aside-trendings h1 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 800;
}

.aside-termos {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  padding: 15px 30px;
  cursor: pointer;
}

.aside-termos div {
  margin-right: 10px;
}
